<div class="form credit">
  <div class="form_container credit_container">
    <div class="credit_title">
      кредит<br />
      <span>ОТ 7%</span>
    </div>
    <form action="/" class="form_action">
      <input required type="text" name="name" class="inputCredit-1" id="name" placeholder="Имя">
      <input required type="tel" name="tel" class="inputCredit-2" id="tel" placeholder="+7 (123) 456-78-90">
      <input type="submit" name="submitForm" id="submitForm" class="submitRequiredFormCredit" value="Отправить заявку">
    </form>
  </div>
</div>