<nav class="menu">
  <a href="tel:+78612054986" class="phone_menu">
    <img src="../img/icons/phone.svg">
  </a>
  <div class="menu_body">
    <ul class="menu_list">
      <li class="menu_item">
        <a class="menu_link" href="/">
          Главная
        </a>
      </li>
      <li class="menu_item">
        <a class="menu_link" href="../catalog.html">
          Каталог
        </a>
      </li>
      <li class="menu_item">
        <a class="menu_link" href="../credit.html">
          Кредит
        </a>
      </li>
      <li class="menu_item">
        <a class="menu_link" href="../about.html">
          О компании
        </a>
      </li>
      <li class="menu_item">
        <a class="menu_link" href="../contacts.html">
          Контакты
        </a>
      </li>
    </ul>
  </div>
</nav>