<div class="watch pagination-watch">
  <a href="/" class="watch-link" target="_blank" id="show-more">
    <button type="button" class="btn-watch">Посмотреть еще</button>
  </a>
</div>

<div class="pagination">
  <a href="./catalog.html" class="pagination-prev">
    <img src="../img/icons/arrows-directions-left.svg" alt="Left">
  </a>
  <a href="./catalog.html" class="pagination-link pagination-active">1</a>
  <a href="./catalog.html" class="pagination-link">2</a>
  <a href="./catalog.html" class="pagination-link">3</a>
  <a href="./catalog.html" class="pagination-link">4</a>
  <a href="./catalog.html" class="pagination-link">...</a>
  <a href="./catalog.html" class="pagination-link">16</a>
  <a href="./catalog.html" class="pagination-link">17</a>
  <a href="./catalog.html" class="pagination-next">
    <img src="../img/icons/arrows-directions-right.svg" alt="Right">
  </a>
</div>