<main class="main">
  <div class="wrapper">
    @@include('../components/slider/slider.html',{})
    @@include('../components/static/benefits.html',{})
    @@include('../components/cars/cars.html',{})
    @@include('../components/static/form.html',{})

    @@include('../components/static/popup.html',{})
    <a href="#submit-application" class="btn-link full575 show992 popup-link" data-da="menu_body,5,992">
      <button type="submit" form="/" class="btn zayavka-btn full575">Оставить заявку</button>
    </a>

    
  </div>
</main>