<footer class="footer contact-footer">
  <div class="footer-navbar">
    <div class="footer_menubar">
      <a href="/" class="footer_logo">
        <img src="../img/logo.svg" alt="Logo">
      </a>
      <nav class="footer-menu">
        <div class="footer-menu_body">
          <ul class="footer-menu_list">
            <li class="footer-menu_item">
              <a class="footer-menu_link" href="/">
                Главная
              </a>
            </li>
            <li class="footer-menu_item">
              <a class="footer-menu_link" href="/">
                Каталог
              </a>
            </li>
            <li class="footer-menu_item">
              <a class="footer-menu_link" href="/">
                Кредит
              </a>
            </li>
            <li class="footer-menu_item">
              <a class="footer-menu_link" href="/">
                О компании
              </a>
            </li>
            <li class="footer-menu_item">
              <a class="footer-menu_link" href="/">
                Контакты
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    
    <div class="footer-contact">
      <div class="footer-phone_1 footer-phone">
        <p class="footer-phone_text">Ростовское шоссе, 7</p>
        <a href="tel:+786120054986" class="footer-phone_number">
          <img src="../img/icons/phone.svg">
          +7 (861) 205-49-86
        </span>
        </a>
      </div>
      <div class="footer-phone_2 footer-phone">
        <p class="footer-phone_text">Ростовское шоссе, 17</p>
        <a href="tel:+786120054986" class="footer-phone_number">
          <img src="../img/icons/phone.svg">
          +7 (861) 205-49-86
        </span>
        </a>
      </div>
    </div>
  </div>
  <div class="politicy">
    <div class="politicy_title">
      <div>ООО "Alliance Motors" © 2023</div>
      <div>Политика конфиденциальности</div>
    </div>
    <p class="politicy_text">Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положением ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджеру по продажам. Предоставляя свои персональные данные и используя настоящий веб-сайт, Вы соглашаетесь с обработкой Ваших персональных данных и принимаете условия их обработки. <a href="../privacy.html">Политика конфиденциальности.</a></p>
  </div>
</footer>