<div class="splide__slide">
  <div class="slide_block">
    <div class="slide">
      <div class="car-img_block">
        <img src="../img/jeep.png" alt="Jeep" class="car-img">
      </div>
      <div class="slide_container">
        <div class="slide_texts">
          <div class="slide_title">
            кредит<br />
            <span>ОТ 7%</span>
          </div>
          <div class="slide_text">при<br class="hide575"/>
            оставлениИ заявки
          </div>
        </div>
        <div class="slide_btn">
          <a href="#submit-application" class="btn-slide-link popup-link">
            <button type="button" class="btn-slide">Оставить заявку</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>