<div class="splide__slide">
  <div class="slide_block">
    <div class="slide-2" style="background: url(../../img/slide-2.png) no-repeat center;">
      <div class="slide-2_container">
        <div class="slide-2_texts full575">
          <h1>акция</h1>
          <h2>Трейд ин с выгодой</h2>
          <div class="slide-2_text-block full575">
            <p>до 100 тыс. руб.</p>
          </div>
        </div>
        <div class="slide_btn">
          <a href="#submit-application" class="btn-slide-link popup-link">
            <button type="button" class="btn-slide">Оставить заявку</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>