<section class="splide" id="homeSplide" aria-label="Splide">
  <div class="splide__arrows">
    <button type="button" aria-controls="splide01-track" class="splide__arrow homeNextSlide splide__arrow--prev splide_my-btn-prev">
    </button>
    <button class="splide__arrow splide__arrow--next homePrevSlide splide_my-btn-next ">
    </button>
  </div>
  <div class="splide__track">
		<div class="splide__list">
			@@include('./slide1.html',{})
			@@include('./slide2.html',{})
			@@include('./slide3.html',{})
		</div>
  </div>
</section>

